* {
    margin: 0;
    padding: 0;
}



body {
    background-color: black;
    width: 1440px;
}



.top img {
    position: absolute;
    width: 100%;
    z-index: 1;

}

.black {
    position: absolute;
    top: -500px;
    left: 0;
    width: 1440px;
    height: 1500px;
    z-index: 9;
    background-color: #000;
    opacity: 1;
    animation: backgroundfill;
    animation-delay: 4.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes backgroundfill {
    0% {
        opacity: 1;
        z-index: 10;
        color: #000;
    }

    100% {
        opacity: 0;
        z-index: 10;
    }
}



.sora h1 {
    font-weight: 1000;
    font-size: 50px;
    z-index: 10;
    color: #fff;

}

.sora {
    position: absolute;
    top: 300px;
    left: 70px;
    z-index: 9;
    width: 1000px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}


.sora:before {
    content: '';
    position: absolute;
    background-color: #fff;
    bottom: 0;
    z-index: 9;
    height: 1px;
    width: 900px;
    opacity: 0;
}

.sora:before {
    animation: bottomAnim 2.5s linear 1s 1;
    animation-fill-mode: both;
    z-index: 9;
    opacity: 1;
}


@keyframes bottomAnim {
    0% {
        left: -1000px;
        opacity: 0;
    }

    100% {
        left: 0px;
    }
}




.shape {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1440px solid black;
    border-bottom: 528px solid transparent;
    z-index: 7;
    opacity: 0.4;

}




.movie img {
    position: absolute;
    width: 350px;
    top: 10px;
    left: 20px;
    z-index: 6;
    opacity: 0.8;

}

.movie {
    height: 528px;
    ;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #000;
}


.movie h1 {
    position: absolute;
    font-weight: 400;
    font-size: 70px;
    color: white;
    z-index: 7;
    left: 55px;
}

.movie h2 {
    position: absolute;
    font-weight: 750;
    color: #fff;
    font-size: 150px;
    z-index: 7;
    left: 50px;
    top: 45px;
}



.cover-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 528px;
    background: url(../movieCover.png);
    text-align: center;
    z-index: 6;
}


.nav {
    position: relative;
    width: 90%;
    height: 50px;
    color: #fff;
    margin: auto;
    border-bottom: 2px white solid;

}

.nav ul {
    display: flex;
    justify-content: center;
}

.nav li {
    font-size: 30px;
    margin: 0 50px 0 50px;
    display: inline;
}


.back {
    position: relative;
    top: 50px;
    width: 90%;
    height: 1000px;
    margin: auto;
    padding-top: 30px;
}

.white {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;
    float: right;

}

.base {
    position: relative;


}

.base h1 {
    font-size: 60px;

}

.base h2 {}


.base img {
    position: relative;
    float: left;
    width: 200px;

}

.white2 {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;
}

.base2 {
    position: relative;
}

.base2 img {
    position: relative;
    width: 200px;
    float: left;
}


.white3 {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;
    float: right;
}

.base3 {
    position: relative;
}

.base3 h1 {}

.base3 h2 {}

.base3 img {
    position: relative;
    float: left;
    width: 200px;
}

.white4 {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;
}

.bas4 {
    position: relative;
}

.base4 h1 {}

.base4 h2 {}

.base4 img {
    position: relative;
    float: left;
    width: 200px;
}

.white5 {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;
    float: right;
}

.bas5 {
    position: relative;
}

.base5 h1 {}

.base5 h2 {}

.base5 img {
    position: relative;
    float: left;
    width: 200px;
}



.white6 {
    position: relative;
    background-color: #fff;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 10px;

}

.bas6 {
    position: relative;
}

.base6 h1 {}

.base6 h2 {}

.base6 img {
    position: relative;
    float: left;
    width: 200px;
}
